### ekf.yaml ###
ekf_filter_node:
  ros__parameters:
    frequency: 50.0
    two_d_mode: true
    publish_acceleration: false
    publish_tf: true
    map_frame: map              # Defaults, we aren't using map yet
    odom_frame: odom            # The target frame name you want
    base_link_frame: base_link  # Your robot's actual frame name
    world_frame: odom           # We want odom to be the root

    # FUSE ODOMETRY (Position & Velocity)
    odom0: /odom
    odom0_config: [false, false, false,
                   false, false, false,
                   true,  true,  false,
                   false, false, true,
                   false, false, false]
    odom0_differential: false

    # FUSE IMU (Orientation)
    imu0: /imu
    imu0_config: [false, false, false,
                  true,  true,  true,
                  false, false, false,
                  false, false, false,
                  false, false, false]
    imu0_differential: false